.main {
	width: 100%;
	position: relative;
}

.person {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 154px;
	transform: translateY(50%);
}

.person div {
	width: 154px;
	height: 154px;
	margin: 0 auto;
}

.person div img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
}

.person div img {
	-webkit-transition: 0.4s;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	-moz-transition: -moz-transform 0.4s ease-out;
}

.person div img:hover {
	transform: rotateZ(360deg);
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
}

@media only screen and (max-width:1170px) {
	.person {
		height: 100px;
	}
	.person div {
		width: 100px;
		height: 100px;
	}
}

@media only screen and (max-width:991px) {
	.person {
		height: 80px;
	}
	.person div {
		width: 80px;
		height: 80px;
	}
}

@media only screen and (max-width:767px) {
	.person {
		height: 60px;
	}
	.person div {
		width: 60px;
		height: 60px;
	}
}

.text {
	margin-top: 81px;
	width: 100%;
	text-align: center;
}

.text h2 {
	font-family: arial;
}

.text p {
	color: #999999;
	font-family: "微软雅黑";
	font-size: 16px;
}

.text .ch {
	color: #666666;
	font-family: "微软雅黑";
	font-size: 18px;
}

.text .year {
	font-size: 14px;
}

.bottom {
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

.bottom h3 {
	position: relative;
}

h3 i {
	position: absolute;
	border-bottom: 5px solid #ff3366;
	width: 203px;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
}

i .icon {
	width: 100px;
}

.bottom .bottom-boder {
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 20px;
}

.container-fluid .last {
	margin-top: 20px;
}

.footer {
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

.footer h4 {
	color: #FFFFFF;
	background: #ff3366;
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
}

@media only screen and (max-width:767px) {
	.text p {
		font-size: 14px;
	}
}

@media only screen and (min-width:992px) {
	.banner img {
		margin-top: 72px;
	}
}

@media only screen and (min-width:767px) {
	.banner img {
		margin-top: 72px;
	}
}

@media only screen and (max-width:767px) {
	.banner img {
		margin-top: 72px;
	}
}

@media only screen and (min-width:992px) {
	.text {
		margin-top: 57px;
	}
}

@media only screen and (max-width:767px) {
	.text {
		margin-top: 35px;
	}
}

@media only screen and (min-width:767px) {
	.text {
		margin-top: 52px;
	}
}

@media only screen and (min-width:1170px) {
	.text {
		margin-top: 80px;
	}
}

.navbar-header button {
	margin-top: 20px;
}

.container-fluid img {
	cursor: pointer;
	transition: all 0.6s;
}
.container-fluid div{
	 overflow: hidden;  
}
.container-fluid img:hover {
	transform: scale(0.9);
}
.footer h4:hover{
	opacity: 0.8;
	cursor: pointer;
}
